/* font-family: 'Roboto', sans-serif; */

:root {
  --color-error: #ff1302;
  --color-win: #9bd87f;
  --color-grey: #2b2b2b;
  --color-grey-white: #5a5a5a;
  --color-grey-dark: #424141;
  --color-blue-light: #8baafd;
  --color-blue: #3457b6;
  --color-blue-input: #507aee;
  --color-blue-dark: #122763;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-3xl: #292929;
  --color-yellow: #eeea00;
  --color-yellow-white: #fffdbb;
  --color-yellow-light: #fffee0;
  --color-yellow-grey: #b8b7b0;
  --time-slow: 0.7s;
  --time-fast: 0.4s;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--color-white);
  background-color: var(--color-dark-3xl);
  margin: 0 auto;
}
