@import url(./assets/style/normalize.css);

:root {
  --color-error: #ff1302;
  --color-win: #9bd87f;
  --color-grey: #2b2b2b;
  --color-grey-white: #5a5a5a;
  --color-grey-dark: #424141;
  --color-blue-light: #8baafd;
  --color-blue: #3457b6;
  --color-blue-input: #507aee;
  --color-blue-dark: #122763;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-3xl: #292929;
  /* --color-dark-3xl: #414141; */
  --color-yellow: #eeea00;
  --color-yellow-white: #fffdbb;
  --color-yellow-light: #fffee0;
  --color-yellow-grey: #b8b7b0;
  --time-slow: 0.7s;
  --time-fast: 0.4s;
  --time-slow-very: 1s;
  --time-fast-vey: 0.2s;
  --fz-text: 1rem;
  --lh-text: 1.3em;
  --ls-text: 0.06em;
  --fz-text-450: 0.6rem;
  --lh-text-450: 1.12em;
  --ls-text-450: 0.04em;
  --fz-h1: 4rem;
  --lh-h1: 1.3em;
  --ls-h1: 0.06em;
  --fz-footer: 2rem;
  --lh-footer: 1.3em;
  --ls-footer: 0.06em;
  --fz-h1-768: 2rem;
  --lh-h1-768: 1.3em;
  --ls-h1-768: 0.06em;
  --fz-footer-768: 1.5rem;
  --lh-footer-768: 1.3em;
  --ls-footer-768: 0.06em;
  --fz-h1-425: 1.5rem;
  --lh-h1-425: 1.3em;
  --ls-h1-425: 0.06em;
  --fz-footer-425: 1rem;
  --lh-footer-425: 1.3em;
  --ls-footer-425: 0.06em;
}

a {
  text-decoration: none;
  transition: var(--time-fast);
}
.link:link {
  color:inherit;
}
.link:visited {
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: var(--color-white);
}

/* .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
} */

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--color-white);
  background-color: var(--color-dark-3xl);
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  overflow-x: hidden;
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.h1 {
  color: var(--color-yellow-white);
  font-family: 'Merriweather', serif;
  font-style: bold;
  font-size: var(--fz-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--ls-h1);
}


.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

/* ------------------------------slider------------------------------ */
.slider {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1.2rem;
  /* justify-content: center; */
  align-items: center;

  width: 50em;

  /* height: 28.125rem; */
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: ; */

  margin: 0 auto;
  /* user-select: none; */
}

.item__radio-button {
  display: inline;
  height: 0;
  overflow: hidden;
}

.items__image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  transform: translateX(40%);
}

.item__image {
  display: inline-block;
  width: 50rem;
  height: 28.125rem;
  opacity: 0;
  transition: var(--time-slow);
}
#image-1 {
  background-image: url('./assets/image/800-450/meme-01.gif');
}
#image-2 {
  background-image: url('./assets/image/800-450/meme-02.gif');
}
#image-3 {
  background-image: url('./assets/image/800-450/meme-03.gif');
}
#image-4 {
  background-image: url('./assets/image/800-450/meme-04.gif');
}
#image-5 {
  background-image: url('./assets/image/800-450/meme-05.gif');
}

.items__control {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

.items__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 30rem;
  /* transform: translate(150%); */
  /* width: 50%; */
  /* visibility: collapse; */
}
.item__text {
  display: block;
  /* transform: translateX(0%); */
  font-size: var(--fz-text);
  line-height: var(--lh-text);
  color: var(--color-yellow-light);
  width: 20rem;
  white-space: nowrap;
  visibility: collapse;
  /* overflow: hidden; */
  /* width: 0;   */
}

#radio-1:checked ~ .items__control > .items__text #text-1 {
  transform: translateX(-0%);
  transition: var(--time-fast) all linear;
}
#radio-2:checked ~ .items__control > .items__text #text-2 {
  transform: translateX(-100%);
  transition: var(--time-fast) all linear;
}
#radio-3:checked ~ .items__control > .items__text #text-3 {
  transform: translateX(-200%);
  transition: var(--time-fast) all linear;
}
#radio-4:checked ~ .items__control > .items__text #text-4 {
  transform: translateX(-60rem);
  transition: var(--time-fast) all linear;
}
#radio-5:checked ~ .items__control > .items__text #text-5 {
  transform: translateX(-73rem);
  /* visibility: visible; */
  transition: var(--time-fast) all linear;
}

#radio-1:checked ~ .items__control > .items__text #text-1, 
#radio-2:checked ~ .items__control > .items__text #text-2,
#radio-3:checked ~ .items__control > .items__text #text-3,
#radio-4:checked ~ .items__control > .items__text #text-4,
#radio-5:checked ~ .items__control > .items__text #text-5 {
  visibility: visible;
  transition: var(--time-slow);
  /* width: 30rem; */
}














#radio-1:checked ~ .items__image {
  transform: translateX(40%);
  transition: var(--time-fast) all linear;
}
#radio-2:checked ~ .items__image {
  transform: translateX(20%);
  transition: var(--time-fast) all linear;
}
#radio-3:checked ~ .items__image {
  transform: translateX(0%);
  transition: var(--time-fast) all linear;
}
#radio-4:checked ~ .items__image {
  transform: translateX(-20%);
  transition: var(--time-fast) all linear;
}
#radio-5:checked ~ .items__image {
  transform: translateX(-40%);
  transition: var(--time-fast) all linear;
}
#radio-1:checked ~ .items__image #image-1, 
#radio-2:checked ~ .items__image #image-2,
#radio-3:checked ~ .items__image #image-3,
#radio-4:checked ~ .items__image #image-4,
#radio-5:checked ~ .items__image #image-5 {
  opacity: 1;
  transition: var(--time-slow);
}










.items__radio-button {
  overflow: hidden;
  height: 0;
}

.items__label {
	display: flex;
  gap: .2rem;
	user-select: none;
}
.items__label {
	display: inline-block;
  display: flex;
  gap: 0.3rem;
	user-select: none;
}

.item__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  cursor: pointer;
}
.label__style {
  box-sizing: border-box;
  display: inline-block;
  background: var(--color-yellow);
  padding: 0.6rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-yellow);
}
.item__label:hover > .label__style {
  background: var(--color-yellow-light);
  border: 0.3rem solid var(--color-yellow-light);
  transition: var(--time-fast);
}


/*  nth-of-type - это псевдокласс - он не запрещен,
    в отличии от псевдоэлементов */
#radio-1:checked ~ .items__control > .items__label label:nth-of-type(1) > .label__style,
#radio-2:checked ~ .items__control > .items__label label:nth-of-type(2) > .label__style,
#radio-3:checked ~ .items__control > .items__label label:nth-of-type(3) > .label__style,
#radio-4:checked ~ .items__control > .items__label label:nth-of-type(4) > .label__style,
#radio-5:checked ~ .items__control > .items__label label:nth-of-type(5) > .label__style  {
  background: var(--color-grey-dark);
  transition: var(--time-slow);
}

/* .slider > input:nth-of-type(1):checked ~ .items__label label:nth-of-type(1):after, */

/* .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after, */

/* #radio-2:checked ~ label:nth-of-type(2) {
  background: var(--color-grey-dark);
} */

/* #radio-1:checked ~ label {
  color: red;
  } */

/* .items__label:checked {
  color: red;
} */
/* Checked */
/* .form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}
  */
/* Hover */
/* .form_radio_btn label:hover {
	color: #666;
} */
 


/* --------------------footer-------------------- */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  /* display: grid;
  grid-template-columns: 3% 7% 10%;
  align-items: center;  */
  width: auto;
  height: 3em;
  font-style: normal;
  font-weight: bold;
  font-size: var(--fz-footer);
  line-height: var(--lh-footer);
  letter-spacing: var(--ls-footer);
  color: var(--color-yellow-white);
  /* background-color: var(--color-black); */
}

.footer__item {
  /* display: inline; */
  /* margin; */
}



@media (max-width: 768px) {
 
 
  .h1 {
    font-style: bold;
    font-size: var(--fz-h1-768);
    line-height: var(--lh-h1-768);
    letter-spacing: var(--ls-h1-768);
  }

  .item__label {
    padding: 0.4rem;
  }
  .label__style {
    padding: 0.5rem;
    border: 0.2rem solid var(--color-yellow);
  }

  .footer-container {
    gap: 0.7em;
    width: auto;
    height: 3em;
    font-weight: bold;
    font-size: var(--fz-footer-768);
    line-height: var(--lh-footer-768);
    letter-spacing: var(--ls-footer-768);
  }
}

@media (max-width: 425px) {
 
  .wrapper {
    width: 100%;
  }
 
  .h1 {
    font-style: bold;
    font-size: var(--fz-h1-425);
    line-height: var(--lh-h1-425);
    letter-spacing: var(--ls-h1-425);
  }

  .item__label {
    padding: 0.25rem;
  }
  .label__style {
    padding: 0.4rem;
    border: 0.2rem solid var(--color-yellow);
  }

  .footer-container {
    gap: 0.5em;
    width: auto;
    height: 3em;
    font-weight: bold;
    font-size: var(--fz-footer-425);
    line-height: var(--lh-footer-425);
    letter-spacing: var(--ls-footer-425);
  }
}